.label {
    -fx-background-color: white;
    -fx-border-color: #00b4d8;
    -fx-border-width: 1px;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

