@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/FiraSans-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-VariableFont_wght.ttf');
}

.label {
  background: white;
  -fx-background-color: background;
  -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
  -fx-border-width: 2px;
  -fx-background-radius: 1em 1em 0 1em;
  -fx-border-radius: 1em 1em 0 1em;
  -fx-text-fill: ladder(background, white 49%, black 50%);
  -fx-font-family: 'Fira Sans';
  -fx-font-size: 15px;
}

.reply-label {
  -fx-background-radius: 1em 1em 1em 0;
  -fx-border-radius: 1em 1em 1em 0;
  -fx-font-family: 'Roboto Condensed';
  -fx-font-size: 15px;
}

#displayPicture {
  /* Shadow effect on image. */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

  -fx-border-color: black;
  -fx-border-width: 3px;
  /* Change size of image. */
  -fx-scale-x: 1;
  -fx-scale-y: 1;

  /* Rotate image clockwise by degrees. */
  -fx-rotate: 0;
}
