.label {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #fefefe);
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.error-label {
    -fx-background-color: linear-gradient(to bottom right, #F1959B, #F1959B);
}

.help-label {
    -fx-background-color: linear-gradient(to bottom right, #F0E68C, #F0E68C);
}

.mark-label {
    -fx-background-color: linear-gradient(to bottom right, #B0E57C, #B0E57C);
}

.unmark-label {
    -fx-background-color: linear-gradient(to bottom right, #FFD580, #FFD580);
}

.delete-label {
    -fx-background-color: linear-gradient(to bottom right, #FFA07A, #FFA07A);
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

