.label {
    -fx-background-color: linear-gradient(lightskyblue, #d8ebf6);
    -fx-border-color: navy;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 0 1em 1em;
    -fx-border-radius: 1em 0 1em 1em;
}

.jackson-label {
    -fx-background-color: linear-gradient(#CBC3E3, #E6E6FA); /* light purple to lavender */
    -fx-border-color: purple;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.modify-label {
    -fx-background-color: linear-gradient(lightgreen, #ccf6cc);
    -fx-border-color: darkgreen;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.error-label {
    -fx-background-color: linear-gradient(#f19595, #f4d6d6);
    -fx-border-color: red;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.task-label {
    -fx-background-color: linear-gradient(#f1cfa2, #f4ecc2);
    -fx-border-color: orange;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.intro-exit-label {
    -fx-background-color: linear-gradient(#96e4d9, #c2f3c2);
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

.secret-label {
    -fx-background-color: linear-gradient(red, white 65%);
    -fx-border-color: black;
    -fx-text-fill: black;
    -fx-border-width: 2px;
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
