.label {
    -fx-background-color: #FBA73F;
    -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
    -fx-border-width: 2px;
    -fx-font: bold 15px "Arial";
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-color: #fff9c4;
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-font: bold 15px "Roboto";
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}

.hbox {
    -fx-alignment: top_left;
    -fx-spacing: 10px;
    -fx-padding: 10px;
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
}

.label:hover, .reply-label:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.7, 5, 5);
}



