.label {
    -fx-background-color: #AAE7F7;
    -fx-padding: 18px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-font: 14px "Arial";

    /* To simulate margin */
    -fx-background-insets: 2px 10px 2px 8px;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;

    /* To simulate margin */
    -fx-background-insets: 2px 8px 2px 10px;
}

.error-reply {
    -fx-background-color: #FF9999;
}

.styled-circle {
    -fx-stroke: skyblue;
    -fx-stroke-width: 1.5;
    -fx-effect: dropshadow(gaussian, skyblue, 15, 0, 0, 2);
}
