.label {
    -fx-background-color: linear-gradient(to bottom right, #333, #555);
    -fx-border-color: #d55e00 #009e73 #cc79a7 #0072b2;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
    -fx-text-fill: #e0e0e0; /* Light text color for readability */
    -fx-font-family: "Courier New", monospace; /* Monospaced font */
}

.reply-label {
    -fx-background-color: #444;  /* Darker background for reply labels */
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
    -fx-text-fill: #e0e0e0; /* Light text color */
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 5, 5); /* Stronger shadow for better visibility */
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
}
