.label {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.5, 0.5, 5, 5);
    -fx-background-color: derive(#5e5946, 0.75);
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-background-radius: 1em;
    -fx-border-radius: 1em;
    -fx-font: 14px "Tw Cen MT";
    -fx-text-fill: white
}

.reply-label {
    -fx-background-color: derive(#5e5946, 0.25);
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0.5, 0.5, 5, 5);

    /* Change size of image. */
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
