.label {
    -fx-background-color: linear-gradient(to bottom right, #ffe6f2, #ffccde);

    -fx-border-color: #ff99b6;
    -fx-border-width: 1px;

    -fx-background-radius: 15px 15px 0 15px;
    -fx-border-radius: 15px 15px 0 15px;

    -fx-text-fill: #ff5f86;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.reply-label {
    -fx-background-radius: 15px 15px 15px 0;
    -fx-border-radius: 15px 15px 15px 0;

    -fx-background-color: linear-gradient(to bottom right, #ffd6e7, #ffb3d1);

    -fx-border-color: #ff99b6;
    -fx-border-width: 1px;

    -fx-text-fill: #ff6699;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-rotate: 0;
    -fx-background-radius: 50%;
}
