.root {
    main-color: rgba(128, 128, 128, 0.06);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    /*-fx-background-image: url("../images/background.jpg"); !* Set image *!
    -fx-background-size: stretch;*/
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #3dcb37;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: rgba(61, 203, 55, 0.56);
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: rgba(61, 203, 55, 0.56);
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.27);
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

