.root {
    -fx-background-color: #FFFFFFFF;
}

.text-field {
    -fx-font: 20px "Arial";
}

.button {
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#00FA9AFF;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:#FFA500FF;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: rgba(255, 255, 255, 0);
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: #FFFFFFFF;
}

.scroll-bar .thumb {
    -fx-background-color: #C4A484;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

