.root {
    main-color: #e0e0e0; /* Light blue background */
-fx-background-image: url("../images/Background.png"); /* Set image */
    -fx-background-size: stretch;

     }


.text-field {
    -fx-background-color: #e3f2fd; /* Light cyan */
    -fx-font: 20px "Arial";

}

.button {
  -fx-background-color: #f4d300; /* Joy's yellow */
    -fx-text-fill: #003b75; /* Dark blue for text */
    -fx-font: italic bold 16px "Arial";
    -fx-border-radius: 0.5em; /* Rounded border */
}

.button:hover {
     -fx-background-color: #ffeb3b; /* Lighter yellow */
       -fx-text-fill: #002171; /* Darker blue for text */
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #ffd54f; /* Golden yellow */
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    - -fx-background-color: #f4d300; /* Joy's bright yellow for the thumb */
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

