.root {
    main-color: rgb(53, 51, 61);     /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: aliceblue;
    -fx-font: 20px "Arial";
    -fx-border-radius: 8px;
}

.button {
    -fx-background-color: main-color;
    -fx-font: bold 16px "Arial";
    -fx-text-fill: #d06666;
    -fx-border-color: aliceblue;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-padding: 5px 10px 5px 10px;
}

.button:hover {
    -fx-background-color: aliceblue;
    -fx-font-size: 16px;
    -fx-cursor: pointer;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
}

.button:pressed {
    -fx-background-color: rgb(53, 51, 61);
    -fx-font-size: 17px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: gray;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

