.scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: #128C7E; /* Color of the scrollbar thumb */
    -fx-background-radius: 5px;   /* Rounded corners */
    -fx-pref-width: 12px;          /* Width of vertical scrollbar */
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent; /* Background color of scrollbar track */
    -fx-pref-width: 10px;               /* Width of vertical scrollbar */
}