/* General settings */
.root {
    -fx-font-family: 'Arial';
}

/* ScrollPane */
.scroll-pane {
    -fx-background-color: #f0f0f0;
}

/* DialogBox styling */
.dialog-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-border-color: #d3d3d3;
    -fx-border-width: 1;
}

/* User dialog */
.dialog-box.user-dialog {
    -fx-background-color: #a3d2ca;
}

/* Kobe dialog */
.dialog-box.kobe-dialog {
    -fx-background-color: #ffe0b5;
}

/* Button styling */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #2980b9;
}
