.label {
    -fx-background-color: linear-gradient(to bottom left, #0d16ff, #000000);
    -fx-border-color: #4287f5;
    -fx-border-width: 2px;
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

.reply-label {
    -fx-background-radius: 1em 1em 1em 0;
    -fx-border-radius: 1em 1em 1em 0;
}

