# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Exclude JAR files in build/libs
/build/libs/Elsa.jar

# Exclude the entire test-ui-test folder as GUI is active
/test-ui-test/
/text-ui-test/ACTUAL.TXT
