# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Ignore all .class files (Java compiled bytecode)
# *.class

# Ignore the data directory where chatbot stores its task data
/data/

# Avoid committing binary files (*.class, *.jar, *.exe)
*.class
*.jar
*.exe