.label {
    -fx-background-color: white;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-padding: 10px;
    -fx-font-family: "Verdana";
}

.reply-label {
    -fx-background-color: #BFD1DF;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-font-family: "Verdana";
}

#displayPicture {
    /* Change size of image. */
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;

    /* Rotate image clockwise by degrees. */
    -fx-rotate: 0;
}
