.label {
    -fx-background-color: white;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-padding: 10px;
    -fx-font-family: "Verdana";
}

.carine-label {
    -fx-background-color: #ffa7bd;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-font-family: "Verdana";
}

.carine-error-label {
    -fx-background-color: white;
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-background-radius: 1em 1em 1em 1em;
}

.user-label {
    -fx-background-color: #bfb461;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-font-family: "Verdana";
}

.reminder-label {
    -fx-background-color: linear-gradient(to right, #f66262, #ff638a);
    -fx-border-radius: 1em 1em 1em 1em;
    -fx-background-radius: 1em 1em 1em 1em;
    -fx-padding: 10px;
}

#displayPicture {
    -fx-scale-x: 1;
    -fx-scale-y: 1;

    -fx-rotate: 0;
}
