.header-area {
    -fx-background-color: mintcream;
    -fx-effect: dropshadow(two-pass-box, darkgrey, 10, 5, 0, 5);
}

#tecna-header-name {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 25px;
}

.circular-button {
    -fx-background-color: mediumpurple;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-shape: "M 0 50 A 50 50 0 1 1 100 50 A 50 50 0 1 1 0 50 Z";
    -fx-padding: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 8, 0, 0, 2);
    -fx-font-size: 16px;
}

.user-input {
    -fx-background-color: white;
    -fx-border-color: mediumpurple;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-font-size: 18px;
}

#input-area {
    -fx-background-color: linear-gradient(to bottom right, salmon, plum);
}