#dialog {
    -fx-font-size: 12px;
}

.dialog-container {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, lightblue 10%, cyan 50%, lightgreen 90%);
    -fx-padding: 10;
}

.message-box {
    -fx-spacing: 10;
}

.label {
    -fx-background-color: #d1f1ff;
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-max-width: 500px;
}

.message-box .label {
    -fx-background-color: #e1ffc7;
}

.message-box.alignment-TOP_RIGHT .label {
    -fx-background-color: #d1f1ff;
}

.message-box.alignment-TOP_LEFT .label {
    -fx-background-color: #f1d1d1;
}