.root {
-fx-background-image: url("/images/matrix.png");
}

.scrollPane {

}

.dialogContainer {

}

.dialog-box {

}

.label {
    -fx-font-family: 'Terminator Real NFI';
    -fx-blend-mode: src-atop;
    -fx-text-fill: black;
}

.user-input {
    -fx-prompt-text-fill: linear-gradient(from 0% 0% to 100% 100%, #FF0000, #0000FF);
    -fx-background-color: white;
    -fx-font-family: 'Terminator Real NFI';
}

.user-input:focused {
    -fx-background-color: blue, white;
    -fx-background-radius: 4, 4;
    -fx-background-insets: 1 1 0 1, 0 0 1 0; // top, right, bottom, left
}