.root {
    -fx-background-color: #eeeeee;
}

.scrollPane {
    -fx-background: #eeeeee;
    -fx-background-insets: 1;
}

.label {

}

.userInput {
    -fx-background-color: #eaeaea, #fff;
    -fx-font-family: "Poppins Regular";
    -fx-background-radius: 24px, 24px;
    -fx-background-insets: -1px, 0;
    -fx-padding: 10px 20px 10px 20px;
    -fx-prompt-text-fill: #d3d3d3;
}

.userInput:focused {
    -fx-background-color: #1e6ac1, #fff;
    -fx-background-insets: 0px 0px -1px 0px, 0;
    -fx-prompt-text-fill: #6d6d6d;
}
